html { /* pagina html */
    background-image: url('fondCSS.jpg');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

form { /* top part*/
    background-color: #886b9c67;
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 5%;
    margin-right: 5%;
}

.firstButton { /* title */
    margin-top: 1cm;
    margin-bottom: 1cm;
    font-size: 250%;
    width: 80%;
    min-width: 272px;
    background-color: rgb(123, 62, 131);
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer; 
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none; 
    text-align: center;
}

dt {
    text-align: center;
    background-color: #5a8f5f77;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 90%;
}

.tareaButton {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    font-size: 200%;
    width: 45%;
    min-width: 272px;
    background-color: rgb(68, 127, 60);
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer; 
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none; 
}


.blockButton {
    text-align: center;
}
.popUpButton {
    font-size: 50%;
    width: 47%; 
    margin: 1%;
}
.textInput {
    text-align: center;
    width: 100%;
    padding: 0%; 
    margin: 0%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(136,107,156,0.1); /* Fallback color */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(123, 62, 131);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
